<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %> </title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/general.css" />

  </head>

  <body onload="myFunction()" >
