<div class="ui secondary pointing menu">
  <a href="/dashboard" class="item<%= (page=='dashboard')? ' active':''%>">
    Project Management System
  </a>
  <a href="/project" class="item<%= (page=='project')? ' active':''%>">
    Projects
  </a>
  <a href="/profile" class="item<%= (page=='profile')? ' active':''%>">
    Profile
  </a>
  <div class="right menu">
    <a class="ui item" href="/logout">
      Logout
    </a>
  </div>
</div>
