<!DOCTYPE html>
<html>
  <head>
    <title>Project Management System</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />
    <style media="screen">
      body{ padding-top: 100px;}
    </style>
  </head>
  <body>
    <div class="container" style="background-color: grey">
      <div class="jumbotron text-center">
        <h1><span class="fa fa-eye"></span> PROJECT MANAGEMENT SYSTEM</h1>
        <p>Login dan Register yourself by using :</p>
        <a href="/login" class="btn btn-primary"><span class="fa fa-user"></span> Login</a>
      </div>
    </div>
    <% include ../partials/footer %>
